---
layout: default
---

<div class="container-fluid px-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card my-5">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-5">
                <div class="card-header text-center">
                    <h2>A Rich History</h2>
                </div>
                <div class="card-body">
                    <div class="card-text mx-3">
                        <p>The iconic architecture of the University of Idaho's campus holds a cherished place in many students' memories of their time in college. This curated collection of photographs seeks to explore the ways in which campus buildings have changed and remained the same over time by comparing photographs taken between 1899 and 1966 with modern photos taken in the same locations today. Some images simply represent the structures themselves, while others capture important events on campus, such as <a href="{{ '/items/spec_uihp135.html' | relative_url }}">Commencement</a> or <a href="{{ '/items/spec_uihp400.html' | relative_url }}">Teddy Roosevelt's 1911 visit to the University</a>.</p>
                        <p>The images in this exhibit have been curated from <a href="https://www.lib.uidaho.edu/digital/uihistorical/">The University of Idaho Historical Photos Collection</a>, <a href="https://www.lib.uidaho.edu/digital/campus/">UI's Campus Photograph Collection</a>, <a href="https://digital.lib.uidaho.edu/digital/collection/pg2">The University of Idaho Student Organizations Collection</a>, and <a href="https://www.lib.uidaho.edu/digital/troosevelt/index.html">The Theodore Roosevelt collection</a>.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>