---
layout: default
---

<!--
<style>
.hero-image {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("https://www.lib.uidaho.edu/digital/objects/campushistory/old/PG1_51-06.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
</style>
-->

<div class="container-fluid px-5 hero-image">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mt-4 text-center">University of Idaho Campus</h2>
            <div class="card border-dark" id="map"></div>
            <div class="card border-dark my-4">
                <div class="card-body">
                    <div class="card-text mx-3">
                        <p>Use the map above to explore how campus buildings have changed and remained the same over time. Each marker on the map pinpoints the location of a photograph taken between 1899 and 1966. Click on the photo to view it side by side with a modern photo taken in the same location.</p>
                        <p>Some images document University structures while others capture important events on campus, such as <a href="{{ '/items/spec_uihp135.html' | relative_url }}">Commencement in 1961</a> or <a href="{{ '/items/spec_uihp400.html' | relative_url }}">Teddy Roosevelt's 1911 visit to the University</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-dark my-5">
                <div class="card-header text-center">
                    <h2>Step back in time...</h2>
                </div>
                <div class="card-body">
                    <figure class="figure">
                        <img class="figure-img img-fluid img-thumbnail" src="{{ site.objects }}/small/PG1_97-04_sm.jpg" alt="Memorial Steps, University of Idaho, 1955">
                        <figcaption class="figure-caption text-center"><a href="{{ '/items/pg170.html' | relative_url }}">Memorial Steps, University of Idaho, 1955</a></figcaption>
                    </figure>
                    <figure class="figure mb-0">
                        <img class="figure-img img-fluid img-thumbnail" src="{{ site.objects }}/new/new_PG1_97-04.jpg" alt="Memorial Steps, University of Idaho, 2019">
                        <figcaption class="figure-caption text-center"><a href="{{ '/items/pg170.html' | relative_url }}">Memorial Steps, University of Idaho, 2019</a></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>